@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
    --clr-neutral-900: #091A24;
    --clr-neutral-100: #561044;
    --clr-accent-400: #217194;
    --clr-accent-500: #DA6F29;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", sans-serif;
}

body {
    min-height: 150vh;
    background: var(--clr-neutral-900);
}

#about {
    padding: 100px;
    min-height: 100vh;
    background: #091A24;
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

#about .container .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

#about .container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

#about .container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

#about .container .box:hover:before,
#about .container .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

#about .container .box:nth-child(1):before,
#about .container .box:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

#about .container .box:nth-child(2):before,
#about .container .box:nth-child(2):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

#about .container .box:nth-child(3):before,
#about .container .box:nth-child(3):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

#about .container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}

#about .container .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}

#about .container .box .content h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

#about .container .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

#about .container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
}

#about .container .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: about_card 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

#about .container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

#about .container .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: about_card 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

#about .container .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes about_card {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

#works {
    min-height: 100vh;
    width: 100%;
    background: var(--clr-neutral-900);
}

#works form {
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--clr-neutral-100);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
}

#works form select option {
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--clr-neutral-100);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
}

#works .container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    line-height: 1.6;
    padding-top: 100px;
    background: transparent;
}

.card {
    color: #fff;
    background-size: cover;
    padding: 10rem 0 0;
    width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin: 0 30px;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover .card-content > *:not(.card-title) {
    opacity: 1;
}

.card-title {
    position: relative;
    width: max-content;
    padding: 0.25em 0;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-500);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgba(255, 255, 255, 0.85);
    padding: 1rem 0;
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background: var(--clr-accent-500);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
    color: #fff;
}

.u-section-1 {
  min-height: 639px;
}

.u-section-1 .u-slider-1 {
  min-height: 639px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/zapotevanie.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 79px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 18px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/polirovka.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/zamena_korpusa.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/zamena_stekla.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/ustanovka_linz.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/tuning.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-group-6 {
  width: 1077px;
  min-height: 308px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  line-height: 1.3;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-1 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-group-1 {
    width: 880px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.2;
  }

  .u-section-1 .u-group-2 {
    width: 880px;
  }

  .u-section-1 .u-text-3 {
    line-height: 1.2;
  }

  .u-section-1 .u-group-3 {
    width: 880px;
  }

  .u-section-1 .u-text-5 {
    line-height: 1.2;
  }

  .u-section-1 .u-group-4 {
    width: 880px;
  }

  .u-section-1 .u-text-7 {
    line-height: 1.2;
  }

  .u-section-1 .u-group-5 {
    width: 880px;
  }

  .u-section-1 .u-text-9 {
    line-height: 1.2;
  }

  .u-section-1 .u-group-6 {
    width: 880px;
  }

  .u-section-1 .u-text-11 {
    line-height: 1.2;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.6875rem;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.6875rem;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    font-size: 4.6875rem;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    font-size: 4.6875rem;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    font-size: 4.6875rem;
  }

  .u-section-1 .u-group-6 {
    width: 720px;
  }

  .u-section-1 .u-text-11 {
    font-size: 4.6875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 513px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 513px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 446px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 446px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: url("../images/bmw-bg.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 758px;
}

.u-section-2 .u-group-1 {
  min-height: 525px;
  width: 653px;
  background-image: none;
  margin: 60px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  text-transform: none;
  font-size: 3rem;
  margin: 46px 0 0;
}

.u-section-2 .u-form-1 {
  height: 248px;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: auto;
}

.u-section-2 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-2 {
  margin-left: auto;
}

.u-section-2 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-group-1 {
    width: 554px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-form-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-group-1 {
    width: 426px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-position: 24.88% 44.66%;
    background-size: auto 120%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-2 .u-group-1 {
    width: 383px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    background-position: 15.14% 71.85%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 160px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.375rem;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 828px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  width: 345px;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 39px auto 31px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 402px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 22px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(153, 153, 153) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 22px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 457px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-social-icons-1 {
  height: 63px;
  min-height: 16px;
  width: 284px;
  min-width: 94px;
  margin: 0 auto;
}

.u-section-3 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-3 .u-icon-6 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-3 .u-icon-7 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 457px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 331px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 377px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 289px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 434px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 434px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 273px;
  }
}

.active .glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #ff0058);
    z-index: 5;
    opacity: 0.3;
    filter: blur(20px);
}

.active p {
    color: #fff;
    z-index: 6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.u-nav-item a:hover:not(.active) p {
    color: #fff;
    transform: scale(1.05);
    transition: transform 500ms ease;
    filter: drop-shadow(16px 16px 20px blue);
}