{% extends 'base.html' %}

{% block headers %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/main.css' %}"/>
{% endblock %}

{% block content %}
<section id="about">
    <div class="container">
        <div class="box">
            <span></span>
            <div class="content">
                <h3>Гарантия</h3>
                <p>Надежные поставщики, которые не сомневаются в своих продуктах и дают двухлетнюю гарантию.</p>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h3>Опыт</h3>
                <p>Несколько сотен наших реализованных проектов может гарантировать качество исполнения задачи</p>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h3>Оборудование</h3>
                <p>Только профессиональный инструмент. Передовые методики разборки фар и установки линз</p>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-valign-middle u-section-1" id="carousel_14bc">
    <div id="carousel-bd35" data-interval="5000" data-u-ride="carousel"
         class="u-carousel u-expanded-width u-slider u-slider-1">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-bd35" class="u-active u-active-grey-25 u-shape-circle u-white"
                data-u-slide-to="0" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-bd35" class="u-active-grey-25 u-shape-circle u-white" data-u-slide-to="1"
                style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-bd35" class="u-active-grey-25 u-shape-circle u-white" data-u-slide-to="2"
                style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-bd35" class="u-active-grey-25 u-shape-circle u-white" data-u-slide-to="3"
                style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-bd35" class="u-active-grey-25 u-shape-circle u-white" data-u-slide-to="4"
                style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-bd35" class="u-active-grey-25 u-shape-circle u-white" data-u-slide-to="5"
                style="width: 10px; height: 10px;"></li>
        </ol>
        <div class="u-carousel-inner" role="listbox">
            <div class="u-active u-align-center u-carousel-item u-container-style u-image u-shading u-slide u-image-1"
                 data-image-width="1600" data-image-height="1200">
                <div class="u-container-layout u-container-layout-1">
                    <div class="u-container-style u-group u-shape-rectangle u-group-1" data-animation-name="fadeIn"
                         data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Up">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <h2 class="u-align-center u-text u-text-body-alt-color u-text-1"> Запотевание фар</h2>
                            <p class="u-align-center u-text u-text-2"> Ремонтируем запотевание фар любой сложности!
                                Гарантия на все работы 2 года!<br>От 3000 рублей
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width u-image u-shading u-slide u-image-2"
                 data-image-width="1600" data-image-height="1071">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                    <div class="u-container-style u-group u-shape-rectangle u-group-2" data-animation-name="fadeIn"
                         data-animation-duration="1000" data-animation-delay="1000" data-animation-direction="Up">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <h2 class="u-align-center u-text u-text-body-alt-color u-text-3"> Полировка фар</h2>
                            <p class="u-align-center u-text u-text-4"> От 30 минут от 500 рублей!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width u-image u-shading u-slide u-image-3"
                 data-image-width="1680" data-image-height="1260">
                <div class="u-container-layout u-valign-middle u-container-layout-5">
                    <div class="u-container-style u-group u-shape-rectangle u-group-3" data-animation-name="fadeIn"
                         data-animation-duration="1000" data-animation-delay="1000" data-animation-direction="Up">
                        <div class="u-container-layout u-valign-top u-container-layout-6">
                            <h2 class="u-align-center u-text u-text-body-alt-color u-text-5"> Замена корпуса фары</h2>
                            <p class="u-align-center u-text u-text-6"> Быстро и с гарантией за 1 день заменим разбитый
                                корпус фары! 2 года гарантии!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width u-image u-shading u-slide u-image-4"
                 data-image-width="1600" data-image-height="900">
                <div class="u-container-layout u-valign-middle u-container-layout-7">
                    <div class="u-container-style u-group u-shape-rectangle u-group-4" data-animation-name="fadeIn"
                         data-animation-duration="1000" data-animation-delay="1000" data-animation-direction="Up">
                        <div class="u-container-layout u-valign-top u-container-layout-8">
                            <h2 class="u-align-center u-text u-text-body-alt-color u-text-7"> Замена стекла фары</h2>
                            <p class="u-align-center u-text u-text-8"> Профессиональный ремонт фар, выгоднее чем замена
                                на новые!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width u-image u-shading u-slide u-image-5"
                 data-image-width="900" data-image-height="600">
                <div class="u-container-layout u-valign-middle u-container-layout-9">
                    <div class="u-container-style u-group u-shape-rectangle u-group-5" data-animation-name="fadeIn"
                         data-animation-duration="1000" data-animation-delay="1000" data-animation-direction="Up">
                        <div class="u-container-layout u-valign-top u-container-layout-10">
                            <h2 class="u-align-center u-text u-text-body-alt-color u-text-9"> Установка линз</h2>
                            <p class="u-align-center u-text u-text-10"> Улучшаем свет более чем в 5 раз на любом
                                автомобиле от Ваз до Bentley!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width u-image u-shading u-slide u-image-6"
                 data-image-width="1680" data-image-height="1120">
                <div class="u-container-layout u-valign-middle u-container-layout-11">
                    <div class="u-container-style u-group u-shape-rectangle u-group-6" data-animation-name="fadeIn"
                         data-animation-duration="1000" data-animation-delay="1000" data-animation-direction="Up">
                        <div class="u-container-layout u-valign-top u-container-layout-12">
                            <h2 class="u-align-center u-text u-text-body-alt-color u-text-11"> Индивидуальные тюнинг
                                проекты</h2>
                            <p class="u-align-center u-text u-text-12"> Тюнинг проекты любой сложности с оптикой
                                автомобилей</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-spacing-12 u-text-body-alt-color u-carousel-control-1"
           href="#carousel-bd35" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg>
          </span>
            <span class="sr-only">
            <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-spacing-12 u-text-body-alt-color u-carousel-control-2"
           href="#carousel-bd35" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 8 8"><path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"></path></svg>
          </span>
            <span class="sr-only">
            <svg viewBox="0 0 8 8"><path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"></path></svg>
          </span>
        </a>
    </div>
</section>
<section id="works">
    <form action="/" method="get">
        {% csrf_token %}
        <p><select size="5" multiple name="Brand">
            <option disabled>Выберите марку</option>
            {% for brand in brands %}
            <option value="{{ brand.name }}">{{ brand.name }}</option>
            {% endfor %}}
        </select></p>
        <p><input type="submit" value="Выбрать"></p>
    </form>
    <script>
        const form = document.querySelector('#works').querySelector('form')
        const select = form.querySelector('select')
        select.onchange = (e) => {
            form.action = '/'
            form.action += e.target.value
        }
    </script>
    <div class="container">
        {% for work in works %}
        <div class="card" style="background-image: url({{work.media_for_main_page}});">
            <div class="card-content">
                <h4 class="card-title">{{ work.title }}</h4>
                <p class="card-body">{{ work.subtitle }}</p>
                <a href="{% url 'project_detail' pk=work.pk %}" class="button">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<script src="{% static 'main/script.js' %}"></script>
{% endblock %}