{% extends 'base.html' %}

{% block headers %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop/style.css' %}"/>
{% endblock %}

{% block content %}
<section id="categories">
    <div class="category-list">
        {% for category in categories %}
        <h4><a href="{% url 'category' slug=category.slug %}">{{ category.name }}</a></h4>
        {% endfor %}
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="categories">
                {% for category in categories %}
                <div class="box">
                    <div class="bg" style="background-image: url({{ category.image.url }});"></div>
                    <a href="{% url 'category' slug=category.slug %}">
                        <h3>{{ category.name }}</h3>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="products">
                {% for product in products %}
                <a href="{% url 'product_detail' slug=product.slug %}">{{product.title}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script src="{% static 'main/script.js' %}"></script>
{% endblock %}