@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
    --clr-neutral-900: #091A24;
    --clr-neutral-100: #561044;
    --clr-accent-400: #217194;
    --clr-accent-500: #DA6F29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", sans-serif;
}

body {
    background: var(--clr-neutral-900);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

.imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    opacity: 0.3;
    z-index: 1;
    mix-blend-mode: screen;
}

.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.contentBx .formBx {
    width: 50%;
}

.contentBx .formBx h3 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--clr-neutral-100);
    display: inline-block;
    letter-spacing: 1px;
}

.contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

.contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
}

.contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--clr-neutral-100);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
}

.contentBx .formBx .inputBx input[type="submit"] {
    background: var(--clr-neutral-100);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.contentBx .formBx .inputBx input[type="submit"]:hover {
    background: var(--clr-accent-400);
}

.contentBx .formBx .inputBx p {
    color: #fff;
}

.contentBx .formBx .inputBx p a {
    color: var(--clr-accent-400);
    text-decoration: none;
}

.contentBx .formBx h4 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

.contentBx .formBx .sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx .formBx .sci li {
    list-style: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 7px;
}

.contentBx .formBx .sci li img {
    height: 50px;
    width: 50px;
}

@media (max-width: 768px) {
    .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
    .contentBx .formBx h4 {
        margin: 30px 0 10px;
    }
}